[Application]
name=Marceline
version=0.1
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=marceline:gui
#(or is it myapp:main?)
icon=marceline.ico
console=true

[Python]
version=3.6.0
#may/not be different (e.g., 3.6.1)

[Include]
# Importable packages that your application requires, one per line
packages = os
     subprocess
     tinydb
     random
     appJar

# Other files and folders that should be installed (ADD helperscripts/ AND OTHERS LATER!)
files = marcy.py
     marceline.py
     helpful examples/
     storage/
    

[Build]
directory = C:\Users\nicholas kross\Desktop\Utilities\Marceline